# Visual Studio IDE files
.vs/
*.user
*.suo

# Build outputs
bin/
obj/

# Rider
.idea/

# NuGet packages
*.nupkg
packages/

# SQL Server local DB files
**/*.mdf
**/*.ldf

# OS files
Thumbs.db
desktop.ini

# JetBrains Rider
.idea/
